html {
    --font-size: #{$font-size};
    color: var(--palette-font);
    font-size: var(--font-size);
    @media #{$media-ml} {
        --font-size: 15px;
    }
    @media #{$media-xs} {
        --font-size: 14px;
    }
}

body {
    --font-family: 'Comfortaa', cursive;
    --font-weight: 400;
    --font-line-height: 1.4;
    font-weight: var(--font-weight);
    font-size: inherit;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: var(--font-line-height);
    background-color: var(--palette-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --font-weight: 500;
    font-weight: var(--font-weight);
}