.link {
  transition: text-shadow var(--anim-main);

  &--underline {
    // color: var(--palette-secondary);
    text-decoration: underline;
  }

  &--mb {
    margin-bottom: 2rem;
  }

  @media (hover) {
    &:hover {
      text-shadow: var(--shadow-main);
    }
  }
}
