.reviews {
  background-color: var(--color-gray);

  &__container {
    --gap: #{responsive(40, 60)};

    display: flex;
    flex-flow: column;
    row-gap: var(--gap);
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }

  &__form {
    width: 100%;
  }

  &__item {
    --size: #{responsive(18, 28)};

    margin-bottom: var(--size);
    padding-bottom: var(--size);
    border-bottom: 1px solid var(--palette-font);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0.4rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__date {
    display: inline-block;
  }

  &__text {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}
